{% extends "layout.html" %}

{% block content %}
<div class="py-32 relative overflow-x-auto sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Apellido Paterno</th>
                <th scope="col" class="px-6 py-3">Correo</th>
                <th scope="col" class="px-6 py-3">Editar</th>
                <th scope="col" class="px-6 py-3">Detalles</th>
                <th scope="col" class="px-6 py-3">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {%for alumno in alumnos%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <td class="px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white">{{alumno.nombre}}</td>
                <td class="px-6 py-3">{{alumno.apaterno}}</td>
                <td class="px-6 py-3">{{alumno.email}}</td>
                <td class="px-6 py-3 text-right whitespace-nowrap">
                    <a href="modificar?id={{alumno.id}}">
                        Modificar
                    </a>
                </td>
                <td class="px-6 py-3 text-right whitespace-nowrap">
                    <a href="detalles?id={{alumno.id}}">
                        Detalles
                    </a>
                </td>
                <td class="px-6 py-3 text-right whitespace-nowrap">
                    <a href="elimniar?id={{alumno.id}}">
                        Eliminar
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}
